<h1>User Details </h1>

<div class="user">
    <div class="photo"> <img src="<%= @user.photo %>"> </div>
    <div class="detail">
        <h1>  <%=  @user.name %></h1>
        <small>Number of posts: <%= @user.posts_counter%>  </small>
    </div>
</div>
<br>
<div class="bio"> <%= @user.bio%> </div>
<br>

<div class="posts">
    <% @posts.each_with_index do |post, index|%>
    <small>Post  <%= index+1 %> </small>
        <p> <%= post.title %> </p>
        <div class ="reactions"> 
            <span>Comments: <%= post.comments_counter%> </span>
            <span>Likes: <%= post.likes_counter%> </span>
        </div>
    <% end %>
</div>

<button>See all posts </button>
