<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<style>
    .row{
          align-items: center;
    justify-content: center;
    }
    .photo img {
    max-width: 75px;
    max-height: 75px;
    border-radius: 50%;
    }

    .col-md-3 {
    flex: 0 0 auto;
    width: 10%;
}
.post-counter {
    position: absolute;
    bottom: -8px;
    right: 10px;
}
.detail {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    position: relative;
}
    .bio {
      width:70%; 
    }
    .card{
      width: 765px;
      margin-left:196px;
    }
    .reactions{
      display:flex;
      align-items: right;
      justify-content: right;
      gap: 10px;
    }
    .see{
     margin-left: 40%;
    margin-top: 10px;
    }

  </style>
  </head>

  <body>
  <%= render 'layouts/header'%>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
